/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 nav {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height:100px;
 	padding: 10px 100px;
 	box-sizing: border-box;
 	transition: .3s;
 }


 nav.black {
 	background: rgba(0,0,0,0.8);
 	height: 80px;
 	padding: 0px 50px;

 }

 nav .logo {
 	height:80px;
 	float: left;
 	font-size: 24px;
 	transition: .3s;
 }

 nav .logo img {
 	height:80px;
 	transition:.3s;
 	margin:0;
 	padding:0;
 }

  nav.black .logo {
 	color: #fff;

 }

 nav ul {
 	list-style:none;
 	float: right;
 	margin:0;
 	padding:0;
 	display: flex;

 }

 nav ul li {
 	list-style:none;

 }

 nav ul li a {
 	line-height: 80px;
 	color: #151515;
 	padding: 12px 30px;
 	text-decoration: none;
 	text-transform: uppercase;
 	transition: .3s;
 }

 nav ul li a:hover{
 	color: #E2472F;
 }

 nav.black ul li a {
 	color: #fff;
 }

 nav.black ul li a.section1:hover{
 	color: #fff;
 	}
 nav.black ul li a:hover {
 	color: #E2472F;
 }
 nav ul li a:focus {
 	outline: none;

 }

 nav ul li a.section1 {
 	background: #E2472F;
 	color: #fff;
 	border-radius:6px;
 }
