<footer class="main-footer">
  <div class="legal-container">
    <section class="legal">
      <p>
        &copy; SOSA QUINTANA ORFEBRES
        <p>Impresum</p>
        <a href="kontakt.html">Kontakt</a>
        <a href="impressum.html">Imrepssum</a>
    </section>

</footer>
